---
---

$background: #111111;
$foreground: #f8f8f2;
$comment: #808080;
$keyword: #FFFF66;
$string: #A5C261;
$number: #FF6600;
$variable: #00FF00;
$name: #FF9900;
$operator: #FFCC66;
$const: #663300;

pre {
  background: $background;
  color: $foreground;
  margin: 0;
  padding: 0.2em 0.9em;
  border: 1px solid #CCC;
  -moz-border-radius:7px;
  -webkit-border-radius:7px;
  border-radius:7px;
}

code {
  margin: 0.1em;
  font-family: "Consolas", "Courier New", "Courier", "FreeMono", monospace;
  font-size:1em;
}

.highlight {

  .hll { background-color: #49483e } /* unused? */

  .c, .cm, .c1, .cs {
  /* Comment,
     Comment.Multiline,
     Comment.Single,
     Comment.Special */
    color: $comment;
    font-style: italic
  }

  .cp, .cs {
  /* Comment.Preproc,
     Comment.Special
   */
    font-weight: bold;
  }


  .k, .kc, .kd, .kt, .kp, .kn {
/* Keyword,
   Keyword.Constant
   Keyword.Declaration,
   Keyword.Type,
   Keyword.Pseudo */
    color: $keyword
  }

  .kr { color: #6600CC /* Keyword.Reserved */ }

  .err { color: #960050; background-color: #1e0010 /* Error */ }

  .nt, .ow, .o {
    color: $operator
  /* Name.Tag,
     Operator.Word,
     Operator */
  }


  .ge { font-style: italic /* Generic.Emph */ }
  .gs { font-weight: bold /* Generic.Strong */}

  .l, .m, .mf, .mh, .mi, .mo, .il {
  /* Literal,
     Literal.Number
     Literal.Number.Float
     Literal.Number.Hex
     Literal.Number.Integer
     Literal.Number.Oct
     Literal.Number.Integer.Long */
    color: $number
  }

  .s, .sb, .sc, .sd, .s2, .sh, .si, .sx, .sr, .s1 {
  /* Literal.String
     Literal.String.Backtick,
     Literal.String.Char,
     Literal.String.Doc,
     Literal.String.Double,
     Literal.String.Heredoc
     Literal.String.Interpol
     Literal.String.Other,
     Literal.String.Regex,
     Literal.String.Single */
    color: $string
  }

  .se { color: $number /* Literal.String.Escape */ }
  .ss { color: #990073 /* Literal.String.Symbol */ }

  .ld { color: $string /* Literal.Date */ }

  .nv, .vc, .vg, .vi {
    /* Name.Variable,
       Name.Variable.Class,
       Name.Variable.Global,
       Name.Variable.Instance */
    color: $variable
  }

  .na, .nc, .nd, .ne, .nf, .nx, .nn {
    color: $name
  /* Name.Attribute,
     Name.Class,
     Name.Decorator,
     Name.Exception,
     Name.Function,
     Name.Other,
     Name.Namespace */
  }

  .nb { color: #FF66FF /* Name.Builtin */ }
  .bp { color: #3030FF /* Name.Builtin.Pseudo */ }

  .no, .ni {
    color: $const
  /* Name.Constant,
     Name.Entity */
  }

}
