/* {{ site.absoluteurl }} */
html {
  margin: 0;
  padding: 0; }

/* establish body box */
body {
  padding-left: 5px;
  padding-top: 5px;
  margin: 0;
  background-image: -webkit-linear-gradient(left, #313157 0, #313157 3.5px, #313157 3.5px, #1A1A1A 63px);
  background-image: -ms-linear-gradient(left, #313157 0, #313157 3.5px, #313157 3.5px, #1A1A1A 63px);
  background-image: -moz-linear-gradient(left, #313157 0, #313157 3.5px, #313157 3.5px, #1A1A1A 63px);
  background-image: -o-linear-gradient(left, #313157 0, #313157 3.5px, #313157 3.5px, #1A1A1A 63px);
  background-image: linear-gradient(left, #313157 0, #313157 3.5px, #313157 3.5px, #1A1A1A 63px); }

.nav {
  display: inline-block;
  width: 70px;
  opacity: 0;
  overflow-x: visible;
  -webkit-transition: width 1s, opacity 0.2s;
  -ms-transition: width 1s, opacity 0.2s;
  -moz-transition: width 1s, opacity 0.2s;
  -o-transition: width 1s, opacity 0.2s;
  transition: width 1s, opacity 0.2s;
  text-align: left;
  padding: 0em;
  margin: 0em;
  font-size: 1em;
  position: fixed;
  top: 0px;
  left: 0px;
  list-style-type: none;
  background-image: -webkit-linear-gradient(left, #313157 0, #313157 148px, #313157 148px, transparent 100%);
  background-image: -ms-linear-gradient(left, #313157 0, #313157 148px, #313157 148px, transparent 100%);
  background-image: -moz-linear-gradient(left, #313157 0, #313157 148px, #313157 148px, transparent 100%);
  background-image: -o-linear-gradient(left, #313157 0, #313157 148px, #313157 148px, transparent 100%);
  background-image: linear-gradient(left, #313157 0, #313157 148px, #313157 148px, transparent 100%);
  height: 100vh;
  overflow-y: auto; }
  .nav:hover {
    width: auto;
    padding-right: 3em;
    opacity: 1;
    -webkit-transition-delay: 0.5s;
    -ms-transition-delay: 0.5s;
    -moz-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
    transition-delay: 0.5s; }
  .nav li {
    white-space: nowrap;
    margin: 0em;
    color: #C5B358;
    border-radius: 0 10px 10px 0;
    padding-left: 5px; }
    .nav li:hover {
      background-color: #FFF44F;
      color: #191970; }
    .nav li.active {
      color: #FFF44F;
      background-color: #191970; }
    .nav li a {
      text-decoration: none;
      color: inherit;
      padding: 2.5px 0;
      display: block; }
      .nav li a img {
        margin: 2.5px 0 0 0; }

.content {
  width: auto;
  padding: 1px 1px 1px 60px;
  color: #FFFFFF;
  background: #1A1A1A;
  background-image: url(//localhost:4000/icon.png), -webkit-linear-gradient(left, #313157 0, #313157 3.25px, #313157 3.25px, #1A1A1A 58.5px);
  background-image: url(//localhost:4000/icon.png), -ms-linear-gradient(left, #313157 0, #313157 3.25px, #313157 3.25px, #1A1A1A 58.5px);
  background-image: url(//localhost:4000/icon.png), -moz-linear-gradient(left, #313157 0, #313157 3.25px, #313157 3.25px, #1A1A1A 58.5px);
  background-image: url(//localhost:4000/icon.png), -o-linear-gradient(left, #313157 0, #313157 3.25px, #313157 3.25px, #1A1A1A 58.5px);
  background-image: url(//localhost:4000/icon.png), linear-gradient(left, #313157 0, #313157 3.25px, #313157 3.25px, #1A1A1A 58.5px);
  background-repeat: no-repeat; }
  .content > * {
    margin-left: 1%; }
  .content a {
    color: inherit; }
    .content a:hover {
      background-color: #0A0A0A; }
  .content .blurb {
    text-align: left; }
    .content .blurb img {
      margin-left: 1em;
      margin-right: 1em;
      margin-bottom: 1em;
      margin-top: 0em; }
    .content .blurb:nth-of-type(even) img {
      float: right; }
    .content .blurb:nth-of-type(odd) img {
      float: left; }
  .content .blurb + hr {
    clear: both; }

body {
  font-family: sans-serif; }
  body .prevnext {
    position: fixed;
    left: 80%;
    width: 20%;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 0.5em;
    padding-bottom: 0.5em; }
    body .prevnext a {
      display: block;
      color: white;
      text-decoration: none; }
    body .prevnext .prev:before {
      content: "<- "; }
    body .prevnext .prev {
      margin-left: 1em; }
    body .prevnext .next:after {
      content: " ->"; }
    body .prevnext .next {
      float: right;
      margin-right: 1em; }

/*# sourceMappingURL=site.css.map */
