---
---

$dark: #191970;
$light: #FFF44F;
$paledark: #313157;
$palelight: #C5B358;

$tonedark: #FFFFFF;
$tonemid: #0A0A0A;
$tonelight: #1A1A1A;

.nav {

  text-align: left;
  padding : 0em;
  margin : 0em;
  font-size: 1em;
  position: fixed;
  top: 1px;
  list-style-type: none;
  background-color: $paledark;
  border-bottom-right-radius: 5px;
  height: 100%;
  overflow-y: auto;

  li {

    margin : 0em;
    color: $palelight;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    &:hover {
      background-color: $light;
      color : $dark;
    }

    &.active {
      color : $light;
      background-color: $dark;
    }

    a {
	    text-decoration: none;
	    color : inherit;
	    padding : 0.2em 0.5em;
	    display : block;
    }

  }

}

.main {

  display: inline-block;
  max-width : 50em;
  margin-left : 13em;
  padding : 1em;
  color : $tonedark;
  background-color : $tonelight;
  border-width: 4px;
  border-color: $tonemid;
  border-style: solid;
  border-radius: 5px;

  a {
    color : inherit;
    &:hover {
      background-color: $tonemid;
    }
  }

  .blurb {
    text-align: left;
    img {
      margin-left: 1em;
      margin-right: 1em;
      margin-bottom: 1em;
      margin-top: 0em;
    }
    &:nth-of-type(even) {
      img {
        float: right;
      }
    }
    &:nth-of-type(odd) {
      img {
        float: left;
      }
    }

  }

  .blurb + hr {
    clear: both;
  }
}

body {
  background-color : black;
  font-family: sans-serif;
  margin : 0px;

  .prevnext {
    position: fixed;
    left: 80%;
    width: 20%;
    background-color: rgba(0,0,0,0.5);
    padding-top: 0.5em;
    padding-bottom: 0.5em;

    a {
      display: block;
      color: white;
      text-decoration: none;
    }

    .prev:before { content:"<- " }
    .prev {
      margin-left:1em;
    }

    .next:after { content:" ->" }
    .next {
      float:right;
      margin-right:1em;
    }

  }
}
