<!doctype html>
<html>
<head>
  <title>{{ page.title }}</title>
  <link rel="stylesheet" type="text/css" href="{{ site.absoluteurl }}{{ site.baseurl }}/css/site.css">
  <link rel="stylesheet" type="text/css" href="{{ site.absoluteurl }}{{ site.baseurl }}/css/python-highlight.css">
</head>
<body>
{% capture nav %}{% include nav.md %}{% endcapture %}
{{ nav | markdownify }}
<div class="main">
{{ content }}
</div>
{% if page.collection == "days" %}
{% include daynav.liquid %}
{% endif %}
</body>
</html>
