<!doctype html>
<html>
<head>
  <title>{{ page.title }}</title>
  <link rel="stylesheet" type="text/css" href="{{ site.absoluteurl }}{{ site.baseurl }}/css/site.css">
  <link rel="stylesheet" type="text/css" href="{{ site.absoluteurl }}{{ site.baseurl }}/css/python-highlight.css">
  <script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: { inlineMath: [['$','$'], ['\\(','\\)']] }
  });
  </script>
  <script type="text/javascript"
    src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
  </script>
</head>
<body>
{% capture nav %}{% include nav.md %}{% endcapture %}{{ nav | markdownify }}
<div class="prevnext">
{% if page.collection == "days" %}
{% include daynav.liquid %}
{% endif %}
</div>
<div class="main">
{{ content }}
{% if page.prep %}{% capture pp %}{% include prep.md target=page.prep %}{% endcapture %}{{ pp | markdownify }}{% endif %}
</div>
</body>
</html>
