---
layout: compress
---
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ site.name }}{% if page.title %} : {{ page.title }}{% endif %}</title>
  {% include favicon.liquid %}
  <link rel="stylesheet" type="text/css" href="{% include url.lq %}/css/site.css">
  <link rel="stylesheet" type="text/css" href="{% include url.lq %}/css/python-highlight.css">
{% if page.math %}
  <script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: { inlineMath: [['$','$'], ['\\(','\\)']] }
  });
  </script>
  <script type="text/javascript"
    src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
  </script>
{% endif %}
  <script type="text/javascript"
    src="{% include url.lq %}/js/site.js">
    </script>
</head>
<body>
{% capture nav %}{% include nav.md %}{% endcapture %}{{ nav | markdownify }}
{% if page.collection == "topic" %}
  <div class="prevnext">{% include daynav.liquid %}</div>
{% endif %}
<div class="content">
{% include warmup.htm %}
{{ content }}
{% include hw.htm %}
</div>
</body>
</html>
